# Ignore everything
*

# Don't ignore .git* files
!.gitignore
!.gitattributes

# Don't ignore catalogues and game system
!*.cat
!*.gst

# Don't ignore docs
!*.md

# Don't ignore github files
!/.github
!/.github/**

# Don't ignore .yml for CI build definitions
!*.yml
!/phase-guide-react
!/phase-guide-react/**
!serve-phase-guide.ps1
/phase-guide-react/node_modules/
/phase-guide-react/dist/
Chaos - Renegade Militarum.cat
Zephyran Corsairs.cat
